<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.atoz.main.mapper.UserMapper">
	<select id="userConfirm" resultType="UserInfoDto" parameterType="UserConfirmDto">
        SELECT emp.emp_number, emp.name, emp.phone, r.rank_name, emp.photo, dep.dep_name 
        FROM employee emp
        INNER JOIN company_info com ON emp.com_number = com.com_number
        INNER JOIN department_info dep ON emp.dep_number = dep.dep_number
        INNER JOIN rank_info r ON emp.rank_code = r.rank_code
        WHERE emp.emp_number = #{emp_number}
        AND	emp.phone = #{phone}
        AND emp.com_number = #{com_number}
    </select>
    
    <update id="pwUpdate" parameterType="UserVO">
    	UPDATE employee
    	SET password = #{password}
    	WHERE emp_number = #{emp_number}
    </update>
    
    <update id="pwAndPhotoUpdate" parameterType="UserVO">
    	UPDATE employee
    	SET password = #{password},
    		photo = #{photo}
    	WHERE emp_number = #{emp_number}
    </update>
    
    <select id="userInfo" resultType="UserInfoDto">
    	SELECT emp.emp_number, emp.name, emp.phone, r.rank_name, emp.photo, dep.dep_name
    	FROM employee emp, department_info dep, rank_info r
    	WHERE emp.emp_number = #{emp_number}
    	AND emp.dep_number = dep.dep_number
    	AND emp.rank_code = r.rank_code
    </select>
    
    <select id="loginCheck" resultType="UserVO" parameterType="UserLoginDto">
    	SELECT *
    	FROM employee
    	WHERE emp_number = #{emp_number}
    	AND password = #{password}
    </select>
    
    <select id="decodeToken" resultType="UserVO">
	    SELECT *
	    FROM employee
	    WHERE emp_number = #{emp_number}
    </select>
    
    <select id="findByEno" resultType="UserDto">
    	SELECT emp.emp_number, emp.password, aut.role
    	FROM employee emp, authority aut
    	WHERE emp_number = #{emp_number}
    	AND emp.aut_number = aut.aut_number
    </select>
    
    <select id="findPhoto" resultType="String">
    	SELECT photo
    	FROM employee
    	WHERE emp_number = #{emp_number}
    </select>
</mapper>