<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.atoz.main.beacon.service.impl.BeaconMapper">
	<select id="selectBeaconList" resultType="egovMap">
		SELECT *
		 FROM (
			SELECT A.*, ROWNUM RNUM 
			FROM (
				SELECT
					bc.beacon_number, bc.uuid, com.com_name, com.com_number, bc.major, bc.minor, bc.use, bc.note
				FROM beacon_info bc, company_info com
				where
			<if test="searchName != null">
				<choose>
					<when test="searchType == 'uuid'">bc.uuid like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'com_name'">com.com_name like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'note'">bc.note like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'major'">to_char(bc.major) like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'minor'">to_char(bc.minor) like '%' || #{searchName} || '%'</when>
					<otherwise>
						(bc.uuid like '%' || #{searchName} || '%'
					or com.com_name like '%' || #{searchName} || '%'
					or bc.note like '%' || #{searchName} || '%'
					or to_char(bc.major) like '%' || #{searchName} || '%'
					or to_char(bc.minor) like '%' || #{searchName} || '%')
					</otherwise>
				</choose>
			</if>
					
				and bc.com_number = com.com_number
				ORDER BY bc.beacon_number DESC
		
	<![CDATA[					
			) A 
		)WHERE RNUM between (#{pageNum} - 1) * #{amount} + 1 and #{pageNum} * #{amount}
		]]> 
	</select>
	
	<select id="selectBeaconListTotCnt" resultType="int">
		SELECT COUNT(*)
			FROM beacon_info bc, company_info com
			where
			<choose>
				<when test="searchType == 'uuid'">bc.uuid like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'com_name'">com.com_name like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'note'">bc.note like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'major'">to_char(bc.major) like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'minor'">to_char(bc.minor) like '%' || #{searchName} || '%'</when>
				<otherwise>
						(bc.uuid like '%' || #{searchName} || '%'
					or com.com_name like '%' || #{searchName} || '%'
					or bc.note like '%' || #{searchName} || '%'
					or to_char(bc.major) like '%' || #{searchName} || '%'
					or to_char(bc.minor) like '%' || #{searchName} || '%')
					</otherwise>
			</choose>
			and bc.com_number = com.com_number
			<!-- <if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					COM_NUMBER = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					COM_NAME LIKE '%' || #{searchKeyword} || '%'
				</if>
			</if> -->
	</select>
	
	<select id="selectBeacon" resultType="egovframework.atoz.main.beacon.service.BeaconDTO">
		SELECT
						bc.beacon_number, bc.uuid, com.com_name, com.com_number, bc.major, bc.minor, bc.use, bc.emplacement, bc.note
						FROM beacon_info bc, company_info com
				WHERE 1=1
				and bc.com_number = com.com_number
				and bc.beacon_number = #{beacon_number}
	</select>
	
	<select id="searchCompany" resultType="egovMap">
		select com_name, com_number
		from company_info
		where
		<choose>
			<when test="searchType == 'com_number'">
				to_char(com_number) like '%' || #{searchText} || '%'
			</when>
			<when test="searchType == 'com_name'">
				com_name like '%' || #{searchText} || '%'
			</when>
		</choose>
	</select>
	
	<update id="updateBeacon">
		update beacon_info
		set uuid = #{uuid},
			com_number = #{com_number},
			use = #{use},
			major = #{major},
			minor = #{minor},
			emplacement = #{emplacement}
			,note = #{note}

		where beacon_number = #{beacon_number}
	</update>
	
	<insert id="insertBeacon">
		insert into beacon_info(beacon_number, com_number, uuid, major, minor, use, emplacement, note)
		values(beacon_num_seq.nextval, #{com_number}, #{uuid}, #{major}, #{minor}, #{use}, #{emplacement}, #{note})
	</insert>
	
	<select id="printBeacon" resultType="egovMap">
		SELECT *
		 FROM (
			SELECT A.*, ROWNUM RNUM 
			FROM (
				SELECT
					bc.beacon_number, bc.uuid, com.com_name, com.com_number, bc.major, bc.minor, bc.use, bc.emplacement, bc.note
				FROM beacon_info bc, company_info com
				where
			<if test="searchName != null">
				<choose>
				<when test="searchType == 'uuid'">bc.uuid like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'com_name'">com.com_name like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'note'">bc.note like '%' || #{searchName} || '%'</when>
				<when test="searchType == 'major'">to_char(bc.major) like '%' || #{searchName} || '%'</when>
					<when test="searchType == 'minor'">to_char(bc.minor) like '%' || #{searchName} || '%'</when>
				<otherwise>
						(bc.uuid like '%' || #{searchName} || '%'
					or com.com_name like '%' || #{searchName} || '%'
					or bc.note like '%' || #{searchName} || '%'
					or to_char(bc.major) like '%' || #{searchName} || '%'
					or to_char(bc.minor) like '%' || #{searchName} || '%')
					</otherwise>
			</choose>
			</if>
					
				and bc.com_number = com.com_number
				ORDER BY bc.beacon_number DESC				
			) A 
		)
	</select>
	
	<select id="searchCompanyList" resultType="egovMap">
		select com_number, com_name
		from company_info
	</select>
</mapper>